@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --white: #fff;
  --white-gray: #eeeff9;
  --white-gray-transparent: #eeeff9d9;
  --dark150: #444c64;
  --blue-gray: #898ac3;
  --blue-gray-light: #abacd1;
  --orange: #e4a178;
  --orange100: #eb8444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--dark150);
  background-color: var(--white-gray);
}

.app {
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}